/*========== Variables ============*/ /*============Sticky Footer============*/
html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  display: flex;
  flex-direction: column;
  position: relative;
}

#wrap {
  flex: 1 0 0;
  -ms-flex: 1 0 0;
  position: relative;
  right: 0;
  transition: right 0.5s;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

.alignright,
img.alignright {
  float: right;
  margin: 0 0 15px 30px;
}

img.alignleft,
.alignleft {
  float: left;
  margin: 0 30px 15px 0;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

.wp-caption {
  width: 100% !important;
}
.wp-caption .wp-caption-text {
  padding-top: 10px;
  font-size: 16px;
}

* {
  outline: none !important;
}

/*==========Fonts & Headings===========*/
body {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 16px;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  font-size: clamp(3rem, 5vw, 4.8rem);
  margin: 0 0 20px 0;
}

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  margin: 0 0 20px 0;
}

h3 {
  font-size: 26px;
  font-size: 2.6rem;
  font-size: clamp(2.6rem, 5vw, 3.2rem);
  margin: 0 0 20px 0;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  font-size: clamp(2rem, 5vw, 2.4rem);
  margin: 0 0 20px 0;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 4vw, 2rem);
  margin: 0 0 20px 0;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

ol, ul {
  margin: 0 0 20px 0;
}

strong {
  font-weight: bold;
}

a {
  color: #252525;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.margin {
  margin: 120px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .margin {
    margin: 90px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin {
    margin: 60px 0;
  }
}
@media (max-width: 575px) {
  .margin {
    margin: 30px 0;
  }
}

.margin-md {
  margin: 90px 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin-md {
    margin: 60px 0;
  }
}
@media (max-width: 575px) {
  .margin-md {
    margin: 30px 0;
  }
}

.margin-sm {
  margin: 60px 0;
}
@media (max-width: 575px) {
  .margin-sm {
    margin: 30px 0;
  }
}

.margin-top {
  margin-top: 120px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .margin-top {
    margin-top: 90px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin-top {
    margin-top: 60px;
  }
}
@media (max-width: 575px) {
  .margin-top {
    margin-top: 30px;
  }
}

.margin-bottom {
  margin-bottom: 120px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .margin-bottom {
    margin-bottom: 90px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin-bottom {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .margin-bottom {
    margin-bottom: 30px;
  }
}

.padding {
  padding: 120px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .padding {
    padding: 90px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .padding {
    padding: 30px 0;
  }
}

.padding-md {
  padding: 90px 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding-md {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .padding-md {
    padding: 30px 0;
  }
}

.padding-sm {
  padding: 60px 0;
}
@media (max-width: 575px) {
  .padding-sm {
    padding: 30px 0;
  }
}

.padding-top {
  padding-top: 120px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .padding-top {
    padding-top: 90px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding-top {
    padding-top: 60px;
  }
}
@media (max-width: 575px) {
  .padding-top {
    padding-top: 30px;
  }
}

.padding-bottom {
  padding-bottom: 120px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .padding-bottom {
    padding-bottom: 90px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding-bottom {
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .padding-bottom {
    padding-bottom: 30px;
  }
}

.search-results-wrapper {
  margin-top: 30px;
  margin-bottom: 60px;
}

.search .search-header {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .search .search-header {
    margin-bottom: 30px;
  }
}
.search .blog-article {
  padding-left: 95px;
  margin-bottom: 60px;
  position: relative;
}
.search .blog-article .result-num {
  font-size: 40px;
  display: inline-block;
  padding: 20px 15px;
  width: 65px;
  text-align: center;
  border: 1px solid #d7d7d7;
  position: absolute;
  left: 0;
  top: 0;
  /*height: 100%;*/
  color: #252525;
}
@media (max-width: 991px) {
  .search .blog-article h4 {
    font-size: 20px;
  }
}
.search .blog-article p i {
  font-size: 14px;
}
.search .blog-article a {
  color: #252525;
}
.search .search-form {
  width: 100%;
  margin: 40px 0 90px;
}
.search .search-form label {
  float: left;
  width: 85%;
}
.search .search-form .search-field {
  border: none;
  background-color: #ebebeb;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-style: italic;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 7px 20px;
  width: 100%;
}
.search .search-form .search-submit {
  width: 10%;
  text-indent: -999px;
  border: none;
  background-color: #ebebeb;
  padding: 5.5px 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("images/search.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-post-block {
  margin-bottom: 30px;
}
.blog-post-block .blog-featured-image-wrapper {
  height: 200px;
  overflow: hidden;
  border: 1px solid black;
}
.blog-post-block .blog-featured-image-wrapper .blog-featured-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease;
}
.blog-post-block .blog-featured-image-wrapper .blog-featured-image a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.blog-post-block .blog-featured-image-wrapper .blog-featured-image:hover {
  transform: scale(1.03);
}

.facetwp-load-more {
  padding: 6px 30px;
  background: none;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: 600;
}
.facetwp-load-more:hover {
  background-color: black;
  color: white;
}

#blog-single aside .inner {
  position: sticky;
  top: 100px;
}

#footer #footer-body .left img {
  width: 90px;
}
#footer #footer-body .right .social a {
  font-size: 20px;
}
#footer #footer-terms {
  font-size: 12px;
  border-top: 1px solid #e4e4e4;
  padding-top: 22px;
  padding-bottom: 22px;
}

/* Header
==============================*/
#header {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e4e4e4;
}
#header .col-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .col-12 .header-logo img {
  width: 90px;
}
#header .main-menu ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
}
#header .main-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}
#header .main-menu ul li:not(:last-child) {
  margin-right: 20px;
}
#header .main-menu ul li.menu-item-has-children a i {
  margin-left: 5px;
}
#header .main-menu ul li.menu-item-has-children > a:after {
  font: var(--fa-font-solid);
  content: "\f078";
  margin-left: 5px;
  font-weight: 500;
}
#header .main-menu ul li a {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}
#header .main-menu ul .sub-menu-wrap {
  display: none;
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: -5px;
  z-index: 99999;
  text-align: left;
  overflow: hidden;
  padding: 0;
}
#header .main-menu ul .sub-menu-wrap li {
  display: block;
  margin-left: 0px;
}

.bg-wrapper {
  overflow: hidden;
  position: relative;
}
.bg-wrapper .text-overlay {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-wrapper .text-overlay h1 {
  color: white;
  font-size: 30px;
  font-size: 3rem;
  font-size: clamp(4rem, 5vw, 8rem);
  text-shadow: 3px 3px 3px black;
  margin: 0 0 20px 0;
}
.bg-wrapper .text-overlay h2 {
  color: white;
  font-size: 28px;
  font-size: 2.8rem;
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  text-shadow: 3px 3px 3px black;
  margin: 0 0 0px 0;
}

.background {
  width: 100vw;
  height: 600px;
  background: #000000;
  position: relative;
}
@media (max-width: 991px) {
  .background {
    height: 300px;
  }
}

.background span {
  width: 14vmin;
  height: 14vmin;
  border-radius: 14vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #6600FF;
  top: 94%;
  left: 15%;
  animation-duration: 12.9s;
  animation-delay: -8.2s;
  transform-origin: 5vw -10vh;
  box-shadow: 28vmin 0 3.8856971003vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFFFFF;
  top: 48%;
  left: 22%;
  animation-duration: 11.7s;
  animation-delay: -10.8s;
  transform-origin: 20vw 11vh;
  box-shadow: 28vmin 0 7.4630386113vmin currentColor;
}
.background span:nth-child(3) {
  color: #00FF00;
  top: 23%;
  left: 62%;
  animation-duration: 12.4s;
  animation-delay: -6.5s;
  transform-origin: -14vw -1vh;
  box-shadow: -28vmin 0 7.0238271115vmin currentColor;
}
.background span:nth-child(4) {
  color: #00FF00;
  top: 47%;
  left: 97%;
  animation-duration: 13.5s;
  animation-delay: -2.5s;
  transform-origin: 15vw 15vh;
  box-shadow: -28vmin 0 3.7913042712vmin currentColor;
}
.background span:nth-child(5) {
  color: #00FF00;
  top: 87%;
  left: 51%;
  animation-duration: 15.8s;
  animation-delay: -5.4s;
  transform-origin: 1vw -19vh;
  box-shadow: -28vmin 0 9.0187088711vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFC0CB;
  top: 57%;
  left: 58%;
  animation-duration: 12s;
  animation-delay: -12s;
  transform-origin: -22vw 8vh;
  box-shadow: 28vmin 0 10.1625342932vmin currentColor;
}
.background span:nth-child(7) {
  color: #FF6600;
  top: 71%;
  left: 95%;
  animation-duration: 15.7s;
  animation-delay: -15.7s;
  transform-origin: -2vw -24vh;
  box-shadow: -28vmin 0 4.7210245869vmin currentColor;
}
.background span:nth-child(8) {
  color: #FF6600;
  top: 91%;
  left: 28%;
  animation-duration: 10.3s;
  animation-delay: -11.9s;
  transform-origin: -8vw 25vh;
  box-shadow: -28vmin 0 9.7439048495vmin currentColor;
}
.background span:nth-child(9) {
  color: #0000FF;
  top: 65%;
  left: 89%;
  animation-duration: 14.7s;
  animation-delay: -7.3s;
  transform-origin: 11vw 22vh;
  box-shadow: -28vmin 0 8.5936111408vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFFFFF;
  top: 23%;
  left: 85%;
  animation-duration: 11.2s;
  animation-delay: -8.1s;
  transform-origin: -3vw 4vh;
  box-shadow: 28vmin 0 10.3994369677vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/* Mobile Nav
==============================*/
#offcanvasMobileMenu .offcanvas-header .offcanvas-title img {
  height: 21px;
}
#offcanvasMobileMenu .offcanvas-header button {
  background: none;
  border: none;
  font-size: 20px;
}

#mobileNav {
  overflow-x: hidden;
  transition: all 0.5s ease;
  padding-left: 0;
  padding-right: 0;
}
#mobileNav ul {
  padding: 0px;
}
#mobileNav ul.sub-menu {
  display: none;
  position: relative;
  white-space: nowrap;
  top: 100%;
  left: 0;
  z-index: 99999;
  text-align: left;
  overflow: hidden;
  padding: 0;
}
#mobileNav ul.sub-menu li a:before {
  content: "- ";
}
#mobileNav ul li {
  list-style-type: none;
  position: relative;
}
#mobileNav ul li .menu-drop {
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 3;
  color: #939598;
  width: 50px;
  text-align: center;
  transition: all 0.5s ease;
}
#mobileNav ul li .menu-drop.sub-menu-active {
  transform: rotate(180deg);
}
#mobileNav ul li a {
  color: #000000;
  padding: 20px 40px 20px 25px;
  display: block;
  border-top: 1px solid #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */