/*========== Variables ============*/

$alpha: #252525;
$bravo: #e4e4e4;
$charlie: #4F4F4F;
$delta: #BDBDBD;
$echo: #25884C;
$foxtrot: #6A458D;
$golf: #E12936;
$hotel: #F5B851;

$body: #252525;

$bodyfont: 'Open Sans', sans-serif;
$headingfont: 'Poppins', sans-serif;