.bg-wrapper{
  overflow:hidden;
  position: relative;
  .text-overlay{
    position:absolute;
    top:0;
    right:0px;
    bottom:0;
    left:0;
    z-index:3;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      color:white;
      font-size: 30px;
      font-size: 3rem;
      font-size: clamp(4rem, 5vw, 8rem);
      text-shadow:3px 3px 3px black;
      margin:0 0 20px 0;
    }
    h2{
      color:white;
      font-size: 28px;
      font-size: 2.8rem;
      font-size: clamp(2.8rem, 5vw, 3.8rem);
      text-shadow:3px 3px 3px black;
      margin:0 0 0px 0;
    }
  }
}

.background {
  width: 100vw;
  height: 600px;
  @include mobile{
    height: 300px;
  }
  background: #000000;
  position: relative;
}

$particleSize: 14vmin;
$animationDuration: 6s;
$amount: 10;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    //#ffffff,
    //#ffffff,
    #FFC0CB,
    #0000FF,
    #FFFF00,
    #FF6600,
    #00FF00,
    #6600FF,
    #FFFFFF
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}