.bg-wrapper{
  width: 100vw;
  height: 600px;
  @include mobile{
    height: 220px;
  }
  overflow: hidden;
  background: #000000;
  position: relative;
  .background-video{
    width:100%;
  }
  .overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index:8;
  }
  .text-overlay{
    position:absolute;
    top:0;
    right:0px;
    bottom:0;
    left:0;
    z-index:9;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      color:white;
      font-size: 30px;
      font-size: 3rem;
      font-size: clamp(4rem, 5vw, 8rem);
      text-shadow:3px 3px 3px black;
      margin:0 0 20px 0;
    }
    h2{
      color:white;
      font-size: 28px;
      font-size: 2.8rem;
      font-size: clamp(2.8rem, 5vw, 3.8rem);
      text-shadow:3px 3px 3px black;
      margin:0 0 0px 0;
    }
  }
}

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}